@import '../../styles/variables';

.detail {
  padding: 0 $margin-lg;
  overflow-y: scroll;
  width: 100%;
  max-height: 700px;

  img {
    width: auto;
  }

  .caption {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: $margin-sm;
  }

  .description {
  }
}
