.list {
  > thead th:last-child {
    width: 100px;
  }

  > tbody tr td:last-child {
    text-align: center;
  }

  button {
    border: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }
}
